@import 'reset';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'spacing';
@import 'flex';

* {
    font-family: 'Raleway', sans-serif!important;
    line-height: 1.2!important;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    @include desktop {
        overflow: visible!important;
    }
}

.btn {
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid $purple;
    background: $white;
    color: $purple;
    &.dark {
        background: $purple;
        color: $white;
    }
}

nav {
    position: relative;
    .nav-items-container {
        z-index: 98;
        @include tablet {
            position: fixed;
            top: -100vh;
            left: 0;
            height: 100vh;
            width: 100vw;
            background: $purple;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in-out;
        }
        &.open {
            top: 0;
        }
        ul {
            @include tablet {
                flex-direction: column;
                align-items: center;
            }
            li {
                cursor: pointer;
                padding: 0.5rem 0rem;
                margin: 0 1.5rem;
                &.button {
                    padding: 0.8rem 1.5rem;
                    border: 1px solid $purple;
                    font-weight: bold;
                    color: $purple;
                    border-radius: 4px;
                }
                @include tablet {
                    color: $white;
                    font-weight: bold;
                    font-size: 1.3rem;
                    margin: 0.5rem 0;
                }
                &.underlined {
                    border-bottom: 1px solid $purple;
                }
            }
        }
    }
    .menu-icon-container {
        display: none;
        @include tablet {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            z-index: 99;
            cursor: pointer;
        }
    }
}

.service-sub-nav {
    position: absolute;
    z-index: 3;
    bottom: -50px;
    background: $light-grey;
    width: 100%;
    ul {
        height: 50px;
        li {
            color: $purple;
        }
    }
}

.footer-top {
    background: $light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-contact-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $white;
        transform: translateY(3rem);
        color: $black;
        max-width: 350px;
        padding: 2rem;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 1px #80808038;
        text-align: center;
        @include tablet {
            top: -155px;
            width: 70%;
        }
        h3 {
            font-size: 25px;
            font-weight: 700;
            color: $purple;
            margin-bottom: 1rem;
        }

        .btn {
            margin-top: 2rem;
        }
    }
}

footer {
    padding: 5rem 0 2rem 0;
    background-color: $purple;
    color: $white;
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include tablet {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div {
                margin-bottom: 2rem;
                text-align: center!important;
            }
        }
    }
    .footer-nav-link {
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;
        margin: 0.6rem 0;
    }
    .footer-company-info {
        & > div{
            text-align: right;
            margin: 0.4rem 0;
        }
    }
}

.section-text {
    text-align: center;
    padding: 2.7rem;
    @include tablet {
        padding: 2rem 1rem;
    }
    h3 {
        font-size: 28px;
        font-weight: 700;
        color: $purple;
    }
    &.purple {
        color: $white!important;
        h3 { color: $white!important; }
    }
    p {
        margin: 2rem auto;
        max-width: 630px;
    }
    .logos-container {
        margin: 1rem 0;
        img {
            margin: 0 0.7rem;
            max-width: 150px;
            @include tablet {
                max-width: 120px;
                margin: 0.7rem 0.5rem;
            }
        }
    }
}

.section-quote {
    background-color: $purple;
    color: $white;
    padding: 5rem 3rem;
    @include tablet {
        padding: 3rem;
    }
    .quote {
        max-width: 700px;
        margin: 0 auto;
        font-weight: bolder;
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 2rem;
        @include tablet {
            font-size: 20px;
        }
    }
    .author {
        text-align: center;
        margin-bottom: 1rem;
    }
    .company {
        font-weight: bold;
        text-align: center;
    }
}

.section-cards {
    padding: 2.7rem 0;
    background-color: $light-grey;
    
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        @include mobile {
            flex-direction: column;
        }
    }

    .title {
        margin-bottom: 2rem;
        h3 {
            font-size: 28px;
            font-weight: 700;
            color: $purple;
            text-align: center;
        }
    }

    .card {
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0px 0px 10px 1px #80808038;
        padding: 2rem;
        border-radius: 4px;
        margin: 1rem;
        flex: 1;
    }

    .card-icon {
        img {
            width: 35px;
            height: 35px;
        }
    }

    .card-title {
        margin: 1rem 0;
        font-size: 18px;
    }

    .card-text {
        flex: 1;
        color: $dark-grey;
        margin-bottom: 1rem;
    }
}

.section-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @include mobile {
        min-height: 30vh!important;
    }
    &::after {
        content: '';
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $purple;
    }
    .heading{
        z-index: 2;
        h1 {
            font-size: 45px;
            text-transform: uppercase;
            max-width: 900px;
            margin: 0 auto;
            color: $white;
            font-weight: bold;
            text-align: center;
            @include tablet {
                font-size: 28px;
                font-weight: 800;
            }
        }
    }
    .sub-heading {
        z-index: 2;
        color: $white;
        margin-top: 2rem;
        text-align: center;
    }
}